.banner__imagem {
	background: url('../../img/banner.jpg') no-repeat center / cover;
	/* background-image: url('../../img/banner.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	user-select: none;
	width: 100%;

		transition: all .2s ease-in-out;
}

.banner__imagem:hover {
	opacity: 80%;
}

@media screen and (min-width: 0) {
	.banner__imagem {
		height: calc(100vh - 51px);
	}
}

@media screen and (min-width: 768px) {
	.banner__imagem {
		height: calc(100vh - 72px);
	}
}